.scroller {
    height: 100%;
    overflow-y: auto;
}

.container,
.footer {
    max-width: 600px;
}

.container {
    position: relative;
    z-index: 1100;
    margin-bottom: 40px;
    min-height: 100%;
}
